div(class="card border-"+color)
	h5(class="card-header text-"+color) #{cardheadertitle}
	div.card-body
		h6.card-subtitle.mb-2.text-muted #{cardsubtitle}
		p.card-text #{cardtext}
		a#card-link-1(
		class="card-link text-"+color
		href="/"
		) #{firstlink}
		a#card-link-2(
		class="card-link text-"+color
		href="/"
		) #{secondlink}