footer.footer
	div.container
		div.row
			div.col-md
				h6 #{footerheader}
				ul.nav-flex-column#menufooter
					li.nav-item
						a.nav-link#footerlink(href=link1) #{titlelink1}
					li.nav-item
						a.nav-link#footerlink(href=link2) #{titlelink2}
			div.col-md
				p Gestió de controls per la seguretat alimentària by mtweb 2018
